body {
    background-color: #0d2235;
}
img {
    max-width: 100%;
}

h1 {
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 80px;
}
h1::after {
    content: '';
    width: 100px;
    height:6px;
    background-color: #66a2fe;
    display: block;
}
.container img {
    margin-top: 75px;
}

label {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2rem;
}
input[type="submit"]{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    height: auto;
}

.error {
    background-color: #b7322c;
    padding: 1rem;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
}

.result {
    color: white;
}
.result h2 {
    font-weight: bold;
    color: white;
}


.result p {
    font-size: 18px!important;
}
.result p span {
    font-weight: bold;
}
p.precio{
    font-size: 30px!important;
}

@media (min-width:480px) {
    form {
        margin-top: 150px;
    }
}


.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes dissapear {
    from {
        width: 0;
        opacity: 0;
    }
    
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes float-up {
    0% {
        top: -5rem;
    }
    50% {
        top: 0rem;
    }
    100% {
        top: -5rem;
    }
}

header {
    text-align: center;
    color: white;
    margin-top: 2rem;
}

header h2 {
    font-size: 5rem;
    animation: dissapear 1s;
}

header p {
    font-size: 2.5rem;
    animation: fade-in-out 2.5s infinite;
}

.crypto-img {
    position: relative;
}

.crypto-img img {
    position: relative;
    animation: fade-in-out 8s infinite, float-up 4s infinite;
}

header h2 {
    margin-left: 1rem;
    margin-right: 1rem;
}